<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
 
<div class="main-content">{{>header}}

  <p>It's a web app to help you get 
    updates on places.

    Gets data from Weatherstack
  </p>
</div>
 {{>footer}}
  </body>
</html>