<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    
  </head>
  <body>
    <div class="main-content">
       {{>header}}
       <form>
         <input placeholder="wer u at nega">
         <button>
           Search
         </button>
       </form>
       <p id="msgOne">
         
       </p>
       <p id="msgTwo">

       </p>

    </div>
   
    {{>footer}}
    <script src="/js/app.js"></script>
  </body>
</html>